<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">angular test</h3>
</div>

<div class="row-fluid mainArea">
  <div class="master col-sm-6">
    <textarea class="jsonPaste" ng-model="jsonInput"></textarea>
    <div class='btn-group-vertical editActions'>
      <button class="stopEdit" ng-click="saved = !saved" ><i class="glyphicon
      glyphicon-check toView"></i></button>
    </div>
  </div>
  <div ng-show="saved" class="detail col-sm-6">
    <pre ng-bind-html="{{ jsonInput | nativeJSON}}" class="jsonViewer"></pre>
  </div>
</div>

<div class="footer">
  <p>Miguel is Bored</p>
</div>
